@import '/usr/lib/node_modules/jeet/styl'
@import '/usr/lib/node_modules/axis/axis'

cent(width) 
    width: auto
    max-width: width 
    float: none
    display: block
    margin-right: auto
    margin-left: auto
    padding-left: 0
    padding-right: 0

footerHeight = 38px

html, body, div#root-node, div#root-node > div
    height: 100%
    margin: 0

div.contentWoFooter
    min-height: 100%

body
    margin: 0
    font-family: $verdana
    font-size: 16px
    div.content
        background: #ffffff

div.content
    padding-top: 15px
    cent 1060px
    overflow: auto
    padding-bottom: footerHeight + 10

div.header
    background: #292929
    color: #dddddd
    font-size: 18px;
    font-weight: 100;
    padding: 10px 0
    ul.navbar
        cent 1060px
        li
            display: inline-block
            padding: 5px
            &:hover
                color: #000000
                background: #00cc66
            &.selected
                background: grey
div.footer
    margin-top: -1* footerHeight
    padding: 10px 0
    background: #292929
    color: #dddddd
    div.footer-data
        cent 1060px
        text-align: center

input, select
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

div.formSmall
    cent 700px
    font-size: 14px
    div.formRow
        width: 100%
        label
            display: inline-block
            &:not(:last-child)
                margin-right: 4%
            &.label3
                width: 30.5%
            &.label2
                width: 48%
            &.label1
                width: 100%
            div
                input, select
                    width: 100%
                    font-size: 20px
                    padding: 5px

h1
    font-size: 27px
    margin: 10px 0
h2
    background: #4d4d4d
    color: #dddddd
    padding: 20px
    text-transform: uppercase
    font-family: 'Open Sans Condensed', sans-serif
    font-size: 18px;
    font-weight: 100;
h3
    text-align: center

div.errorMessage
    background: #ff5c33
    border-bottom: 1px solid
    padding: 5px

div.formBody
    cent 90% 
    div.subFormNarrow
        width: 35%
        float: left
        margin-right: 5%
    div.subFormWide
        width: 60%
        float: left

div.form
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
    cent 600px
    padding-bottom : 40px
    color: #797979
    label
        text-align: left 
    input, select
        width: 100%
        font-size: 20px
        padding: 5px
        outline: none
        display: block
        border: none
        border-bottom: 1px solid #ddd
        background: transparent
    div.formLineButtons
        cent 500px
        text-align: center
        margin-top: 10px
        button
            margin-right: 10px
            button()
    div.labelGroup
        label
            width: 20%
            margin-right: 1%
            display: inline-block
        div
            margin-bottom: 5px
            display: inline-block
            width: 79%
            button
                margin-right: 10px
                button()
        div.formLine2Col
            cent 600px
            label
                width: 12%
                margin-right: 2%
            div
                margin-bottom: 5px
                display: inline-block
                width: 36%
div.filter
    margin: 5px 0
button
    margin-right: 5px
    border: 0
    padding: 5px
    &:focus
        outline: none
    &:hover
        background: #00cc66
    &.selected
        background: #404040
        color: white


//************* TABLE ********************** 
table
    max-width: 1500px
    margin-left: auto
    margin-right: auto
    thead
        th
            background: #4d4d4d
            //background: #cdfabe
            //background: #4caf50
            color: #dddddd
            &.description
                width: descriptionColWidth 
            &.pn
                width: pnColWidth 
            &.input
                width: pnColWidth 
    tr
        border-bottom 1px solid #ddd
        font-size 17px
    //tr:nth-child(odd)
    //    border-bottom 0px solid #ddd
    //    background-color: #f2f2f2
    //tr:nth-child(even)
    //    border-bottom 1px solid #ddd
    //    background-color: #ddd
    &.doubleline
        tr:nth-child(odd)
            border-bottom none
        tr:nth-child(even)
            border-bottom 1px solid #ddd
        //tr:nth-child(4n+1)
        //tr:nth-child(4n+2)
        //    background-color: #f2f2f2
        //tr:nth-child(4n+3)
        //tr:nth-child(4n+4)
        //    background-color: #ddd

    tr.lineInEdit
        background: #ff9999
        input[type="number"]
            width: 70px
            //  outline: none
            border: none
            padding: 0px
            background: #ff9999
            font: 14px sans-serif
            text-align: center
    tr.selected
        background: #f47171

table, th, td
    border-collapse: collapse
    text-align: center 
table
    padding 10px 50px
th, td
    padding 7px
tr.summaryRow
    background: #f5f5f5
    td.description
        text-align: center
    &.action:hover
        cursor: pointer

